* {
    margin: 0;
    padding: 0;
    /* The CSS box-sizing property allows us to include the padding and border in 
    an element's total width and height. */
    box-sizing: border-box;
}

.navbar-header{
    padding: 50px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    height: 75px;
    width: 75px;
}

.ul-navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding-left: 50px;
}
.ul-navbar li {
    padding: 10px 30px 10px 10px;
    font-size: larger;
}
a {
    text-decoration: none;
}

.li-right{
    /* Floats are ignored in flex level elements */
    /* float: right;  */
    margin-left: auto;
} 
